
h2{
    margin-top: 50px;
    border-bottom: 1px solid rgb(212, 208, 208);
}
.form {
    background-color: rgb(255, 251, 251);
    margin: auto;
    padding: 10px;
    width: 90%;
    max-width: 1500px;
    padding: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10 px -5px rgb(0, 0, 0 / 30%);
    text-align: left;
}

.form__flex{
    margin-top: 1em;
    display: flex;
    gap: 5.5em
}

.form__input{
    width: 100%;
    background: none;
    color: rgb(109, 107, 107);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(212, 208, 208);
    font-family: 'Chakra Petch', sans-serif;
}

.form__textaria{
    min-width: 96%;
    max-width: 96%;
    height: 200px;
    min-height: 100%;
    padding: 20px;
    border: 1px solid rgb(212, 208, 208);
    font-family: 'Chakra Petch', sans-serif;
}

.form__label{
    color: rgb(3, 3, 3);;
    cursor: pointer;
    position: initial;
    top: 0;
    left: 5px;
    transform: translate(10px);
    transition: transform .5s color .3s;
}

.form_submit{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    min-width: 20%;
    max-width: 20%;
    position: relative;
}

